components/__pycache__/
utils/__pycache__/
.venv/

# Ignore JetBrains IDE metadata
.idea/
*.iml

# Ignore SQL and Database tool extensions (Scratches & Consoles)
.idea/**/data/
.idea/**/schema/
.idea/**/schema.layouts/
.idea/scratches/