# Core Streamlit
streamlit
streamlit-folium

# Data Science
pandas
numpy
scipy
plotly
seaborn
matplotlib
statsmodels

# Maps & Geospatial
folium
geopandas
shapely<=2.0.2  # 2.1+ often breaks on cloud due to binary issues
pyproj<=3.6.0   # optional if geopandas depends on it
branca

# OpenMeteo and Requests
openmeteo_requests
openmeteo_sdk
requests

# Utils
tqdm
fuzzywuzzy
haversine